{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sizes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Size</th>
                <th>Ord</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td><a href="{{ path('sizes_show', { 'id': size.id }) }}">{{ size.id }}</a></td>
                <td>{{ size.size }}</td>
                <td>{{ size.ord }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sizes_show', { 'id': size.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sizes_edit', { 'id': size.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sizes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
